<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-crypto">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tabla-crypto`
     * cypto
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaCrypto extends Polymer.Element {
      static get is() { return 'tabla-crypto'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-crypto'
          }
        };
      }
    }

    window.customElements.define(TablaCrypto.is, TablaCrypto);
  </script>
</dom-module>
