<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-crypto">
  <template>
    <style>
      :/*host {
        display: block;
      }*/
      .centrar{
          justify-content: center;
          display: flex;
        }
        #tab{
          background-color: grey;
        }
        table{
          /*align-content: center;*/
          width: 100%;
          border: 5px grey outset;
          background: silver;
        }
        tr{
          /*height: 10px;*/
          height: 20px;
        }
        #tabla-contenido{
          justify-content: center;
        }
        .table{
          margin-left: 0px;
        }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <h2 style="text-align: center;">Crypto Info</h2>
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Currency</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
  </template>

  <script>
    /**
     * `tabla-crypto`
     * cypto
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaCrypto extends Polymer.Element {
      static get is() { return 'tabla-crypto'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-crypto'
          }
        };
      }
    }

    window.customElements.define(TablaCrypto.is, TablaCrypto);
  </script>
</dom-module>
